<h1 style="text-align: center">Who We Are</h1>
<div style="margin-left: auto; margin-right: auto; text-align: center; padding: 20px;">
  <p>We are trojan product distribution firm. We are a distributor giant that provides all kinds of consumer products for retailers, stores, and other small business. </p>
</div>
