<header style="background-color: black; color: white; text-align: center; width: 100%">
  <h1>Trojan Product Distributor</h1>
</header>


<nav>

  <!-- <a href="">About</a> -->
  {{#link-to "about"}}
  About
  {{/link-to}}
|
  {{#link-to "index"}}
  Home
  {{/link-to}}




</nav>


{{outlet}}



<footer style="background-color: black; color: white; text-align: center;  bottom: 0px; width: 100%">
<p>&copy; Susan Yishan Zheng</p>
</footer>
